@import "../../../../styles/variables.scss";

.table-holder {
  margin: 35px 0px 20px 0px;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .table-paginator-container {
    flex-direction: column;
    width: 80%;

    mat-paginator {
      margin-top: 5px;
      background-color: $mainPurple;
      color: $black;
      align-self: flex-end;
    }
  }

  form {
    mat-select {
      ::ng-deep .mat-select-value,
      ::ng-deep .mat-select-arrow {
        color: $mainPurple;
      }
    }
  }
}

::ng-deep .mat-icon {
  cursor: pointer;

  &:hover {
    filter: brightness(110%);
  }
}

::ng-deep .mat-select-panel {
  background-color: $black;
}

::ng-deep .mat-option {
  color: $mainPurple;
  &.mat-selected {
    color: $mainPurple;
  }
}
