<div class="flex-center auth-form-holder">
  <h2>Jelszó visszaállítás</h2>
  <form class="flex-center default-form" [formGroup]="passwordRecoveryForm">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="Enter your e-mail"
        type="email"
        formControlName="email"
      />
      <mat-error
        *ngIf="passwordRecoveryForm.controls.email.hasError('required')"
        >Kötelező mező</mat-error
      >
      <mat-error *ngIf="passwordRecoveryForm.controls.email.hasError('email')"
        >Érvénytelen e-mail cím</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!passwordRecoveryForm.valid"
      (click)="submitPasswordRecovery()"
    >
      Elküld
    </button>
  </form>
  <div class="response-holder flex-center warn primary">
    <p
      *ngIf="passwordRecoveryResponse"
      [ngClass]="passwordRecoveryResponse.isError ? 'warn' : 'success'"
    >
      {{ passwordRecoveryResponse.message }}
    </p>
  </div>
</div>
