<div class="small-ticket-container">
    <div class="small-ticket-logo">
        <img src="../../../../assets/{{ticketTypeEnum[smallTicketData.type]|lowercase}}.svg">
        <p class="small-ticket-type">
            {{ticketTypeEnum[smallTicketData.type]}}
        </p>
    </div>
    <div class="small-ticket-information">
        <div class="small-ticket-name">
            {{smallTicketData.name}}
        </div>
        <div class="small-ticket-price">
            Price: {{smallTicketData.price + ' HUF'}}
        </div>
        <div class="small-ticket-count">
            Qty: {{smallTicketData.count}}
        </div>

    </div>
    <div class="delete-button"><button mat-raised-button color="warn" (click)="deleteTicket()">Delete</button></div>
</div>