@import './variables.scss';

.auth-form-holder {
  border-radius: 5px;
  width: 80%;
  flex-direction: column;
  height: $heightForCentering;

  form {
    flex-direction: column;

    .mat-form-field {
      margin-bottom: 10px;
      width: 100%;

      mat-icon {
        cursor: pointer;
      }

      &:last-of-type {
        margin-bottom: 5px;
      }
    }

    button {
      margin: 5px 0px 5px 0px;
    }
  }

  @media screen and (max-width: $smallScreenBreakPoint) {
    h2 {
      margin-bottom: 2px;
    }
    form {
      .mat-form-field {
        margin-bottom: 5px;
        width: 80vw;
      }

      button {
        margin: 5px 0px 5px 0px;
      }
    }
  }

  .response-holder {
    height: 75px;
  }
}

.email-main {
  flex-direction: column;
  height: $heightForCentering;
  padding: 0px 0px 70px 0px;
}
