.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.warn {
  color: $warn !important;
}

.success {
  color: $success !important;
}

.primary {
  color: $mainPurple !important;
}

.mat-primary-color {
  color: $materialPrimary;
}

.margin-top-small {
  margin-top: 2vh;
}

.margin-bottom-small {
  margin-bottom: 2vh !important;
}

.black {
  color: $black !important;
}

.triple-field-holder {
  width: 100%;
}

app-checkbox-select-all {
  .mat-checkbox {
    width: 100% !important;
    color: $mainPurple;
    &:hover {
      color: $black;
    }
  }
}

.info-div {
  width: 50vw;

  .mat-icon {
    cursor: pointer;

    &:hover {
      filter: brightness(110%);
    }
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 750px) {
  .triple-field-holder {
    flex-direction: column;
  }
}
