.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.default-anchor {
  text-align: center;
  text-decoration: none;
  color: $mainPurple;
  font-weight: bold;

  &:hover {
    filter: brightness(80%);
  }
}

.default-form {
  .mat-form-field {
    .mat-input-element::placeholder,
    mat-label {
      color: $mainPurple;
    }

    mat-error {
      display: none;

      &:first-child {
        display: block;
      }
    }
    ::-webkit-calendar-picker-indicator {
      filter: $purpleIconFilter;
      cursor: pointer;
    }
    .mat-form-field-outline-thick {
      opacity: 1 !important;
      color: $mainPurple;
    }

    &.disabled-form-field {
      .mat-input-element::placeholder,
      mat-label,
      .mat-input-element,
      .mat-form-field-outline-thick {
        color: $disabled !important;
      }
    }
  }

  .mat-raised-button.mat-button-disabled {
    background-color: $disabled;
    color: $black;
  }
}

.warn {
  color: $warn;
}

.success {
  color: $success;
}

.primary {
  color: $mainPurple;
}

.default-table {
  width: 100%;
  border: 1px solid $mainPurple;
  * {
    color: $mainPurple;
    background-color: $black;
    text-align: center;
  }

  .mat-header-cell {
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    color: $black;
    background-color: $mainPurple;
  }

  .mat-cell {
    border: 1px solid $mainPurple;
    border-top: none;
  }
}

.default-select {
  color: $mainPurple;
  background-color: $black;
  border: 1px solid $mainPurple;

  .mat-option {
    .mat-option-text {
      color: $mainPurple;
    }

    &.mat-selected {
      color: $mainPurple;

      &:hover {
        background-color: $mainPurple;
        color: $black;
      }
    }

    &:hover {
      background-color: $mainPurple;
      .mat-option-text {
        color: $black;
      }
    }
  }
}

.warn {
  color: $warn;
}

.default-color {
  color: $mainPurple;
}
