.default-dialog {
  mat-dialog-container {
    position: relative;
    background-color: $black;
    color: $mainPurple;
    border: 1px solid $mainPurple;

    scrollbar-color: $black $mainPurple;
    scrollbar-width: thin;

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: $black;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $mainPurple;
      border-radius: 6px;
      border: 3px $black;
    }

    mat-dialog-content {
      margin: 15px 0px;

      form {
        flex-direction: column;

        .field-holder {
          display: flex;
          justify-content: space-evenly;
          width: 100%;

          .mat-icon-button.mat-button-disabled.mat-button-disabled {
            color: $disabled !important;

            .mat-icon {
              cursor: default;
            }
          }

          .home-button {
            background-color: $black;
            color: $mainPurple;
            border: none;
            cursor: default;

            .mat-icon {
              cursor: default;
            }
          }

          .mat-form-field {
            margin-bottom: 12px;

            &.disabled-form-field {
              .mat-input-element::placeholder,
              mat-label,
              .mat-input-element,
              .mat-form-field-outline-thick {
                color: $disabled !important;
              }
            }

            &.mat-form-field-disabled {
              .mat-input-element::placeholder,
              mat-label,
              .mat-input-element,
              .mat-form-field-outline-thick,
              .mat-select-value {
                color: $disabled !important;
              }
            }
          }
        }

        button {
          margin-bottom: 30px;
        }

        mat-select {
          .mat-select-value,
          .mat-select-arrow {
            color: $mainPurple;
          }
        }
      }
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      cursor: auto;

      mat-icon {
        cursor: pointer;
        color: $warn;
      }
    }

    .cancel-button {
      background-color: $warn;
    }
  }

  mat-dialog-actions {
    .mat-raised-button.mat-button-disabled {
      background-color: $disabled;
      color: $black;
    }
  }
}
