@import "./variables.scss";

.stat-main {
  flex-direction: column;
  height: $heightForCentering;
}

.main-holder {
  width: 50%;
  background-color: $mainPurple;
  color: $black;
  padding: 2%;
  border-radius: 10px;
}
