$black: #000000;
$mainPurple: #8987d6;
$hoverMainPurple: #5b57ca;
$smallScreenBreakPoint: 540px;
$bigFontSize: 20px;
$smallGap: 2%;
$smallFontSize: 12px;
$warn: red;
$disabled: #828282;
$purpleIconFilter: invert(54%) sepia(64%) saturate(307%) hue-rotate(202deg) brightness(91%) contrast(93%);
$heightForCentering: calc(100vh - 120px);
