$black: #000000;
$spotiGreen: #1db954;
$hoverSpotiGreen: rgb(10, 71, 46);
$smallScreenBreakPoint: 540px;
$bigFontSize: 20px;
$smallGap: 2%;
$smallFontSize: 12px;
$warn: red;
$disabled: #828282;
$spotiIconFilter: invert(52%) sepia(60%) saturate(569%) hue-rotate(88deg)
  brightness(96%) contrast(95%);
$heightForCentering: calc(100vh - 120px);
