@import "../../../../styles/variables.scss";

.feature-columns-holder {
  height: 581px;
  padding: $smallGap;

  .feature-column {
    width: 100%;
    height: 50%;
    padding: 0% $smallGap;
    flex-direction: column;
    justify-content: flex-start;

    img {
      height: 150px;
      width: 150px;
      filter: $spotiIconFilter;
    }

    h3 {
      padding-top: 5%;
    }

    p {
      text-align: center;
      padding-top: 1%;
    }
  }
}

@media screen and (max-width: $smallScreenBreakPoint) {
  .feature-columns-holder {
    height: auto;
    flex-direction: column;

    .feature-column {
      padding: 0% $smallGap 5% $smallGap;
      p {
        text-align: center;
      }
    }
  }
}
