@import "../../../../styles/variables.scss";

footer {
  height: 50px;
  background-color: $spotiGreen;
  width: 100%;
  h3 {
    font-size: $smallFontSize;
    font-weight: bolder;
    color: $black;
    margin: 0px;
  }
}
