@import "../../../../styles/variables.scss";
@import "../../../../styles/common-classes.scss";

.ticket-container {
  justify-content: space-between;
  margin-left: 20px;
  padding: 20px;
  width: 700px;
  height: 200px;
  margin-bottom: 10px;
  background-color: $black;
  border: solid $spotiGreen;
  border-radius: 20px;

  .left-side {
    display: flex;
  }
  .ticket-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    img {
      width: 100px;
      height: 70px;
    }
  }

  .ticket-information {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    div {
      margin: 5px;
    }
  }

  .ticket-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      margin: 5px;
    }
  }

  .select,
  .basket-button {
    margin: 2px;
    .amountToBuy {
      margin: 5px;
      width: 60px;
      height: 65px;
    }
  }

  .admin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      margin: 5px;
    }
    button {
      width: 100px;
      height: 40px;
    }
  }
}
