<div class="ticket-container flex-center">
  <div class="left-side">
    <div class="ticket-logo">
      <img
        src="../../../../assets/{{
          ticketTypeEnum[ticketData.type] | lowercase
        }}.svg"
      />
      <div class="ticket-type">
        {{ ticketTypeEnum[ticketData.type] | titlecase }}
      </div>
    </div>
    <div class="ticket-information">
      <div class="ticket-name">
        {{ ticketData.name }}
      </div>
      <div class="ticket-price">Price: {{ ticketData.price + " HUF" }}</div>
      <div class="ticket-date">Date: {{ ticketData.date | date }}</div>
      <div class="ticket-city-name">Location: {{ ticketData.cityName }}</div>
    </div>
    <div class="ticket-amount" *ngIf="currentRole === userRoles.Admin">
      <div class="ticket-remaining">
        Remaining tickets:
        {{ ticketData.numberOfRemainingTickets }}
      </div>
      <div class="ticket-all">
        All tickets:
        {{ ticketData.numberOfAllTickets }}
      </div>
    </div>
  </div>
  <div class="purchase" *ngIf="currentRole === userRoles.Consumer && purchasable">
    <div class="basket-button flex-center">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        (click)="addToBasket()"
        [disabled]="!numberOfTickets.valid"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
    <div class="select default-form">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        (click)="reducesValue()"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <mat-form-field class="amountToBuy" appearance="outline">
        <mat-label></mat-label>
        <input [formControl]="numberOfTickets" matInput type="number" />
        <mat-error *ngIf="numberOfTickets.errors?.min"
          >Number is too small</mat-error
        >
        <mat-error *ngIf="numberOfTickets.errors?.max"
          >Number is too big</mat-error
        >
      </mat-form-field>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        (click)="increasesValue()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="admin-buttons" *ngIf="currentRole === userRoles.Admin">
    <div class="modify-button">
      <button mat-raised-button color="warn" (click)="modifyTicket()">
        Modify
      </button>
    </div>
    <div class="delete-button">
      <button mat-raised-button color="warn" (click)="deleteTicket()">
        Delete
      </button>
    </div>
    <div class="show-more-button">
      <button mat-raised-button color="warn" (click)="showMore()">
        Show more
      </button>
    </div>
  </div>
</div>
