<main class="flex-center">
  <app-info
    *ngIf="isGameOn && !errorMessage && !isGameFinished"
    [numOfQuestions]="listOfWords.length"
    [index]="actualIndex"
  ></app-info>
  <app-main-menu
    *ngIf="!isGameOn && !errorMessage && !isGameFinished"
    (randomWordRequest)="onGetRandomWords($event)"
  ></app-main-menu>
  <app-play-card
    *ngIf="isGameOn && !errorMessage && !isGameFinished"
    [language]="language"
    [actualWord]="listOfWords[actualIndex]"
    [checkResponse]="checkResponse"
    [numOfCorrectAnswers]="numOfCorrectAnswers"
    (nextEmitter)="goToNextWord()"
    (answerEmitter)="onAnswerSubmit($event)"
  ></app-play-card>
  <app-finish-screen
    *ngIf="isGameFinished"
    [incorrectWords]="listOfIncorrectWords"
    [resultString]="numOfCorrectAnswers + '/' + listOfWords.length"
    (decisionEmitter)="handleEndDecision($event)"
  ></app-finish-screen>
  <div class="error-holder warn">{{ errorMessage }}</div>
</main>
