<main class="flex-center">
  <app-info
    *ngIf="isGameOn && !errorMessage"
    [numOfQuestions]="listOfWords.length"
    [index]="actualIndex"
  ></app-info>
  <app-main-menu
    *ngIf="!isGameOn && !errorMessage"
    (randomWordRequest)="onGetRandomWords($event)"
  ></app-main-menu>
  <app-play-card
    *ngIf="isGameOn && !errorMessage"
    [language]="language"
    [actualWord]="listOfWords[actualIndex]"
    (nextEmitter)="goToNextWord()"
    (answerEmitter)="onAnswerSubmit($event)"
  ></app-play-card>
  <div class="error-holder warn">{{ errorMessage }}</div>
</main>
