@import "../../../../../styles/variables.scss";

main {
  flex-direction: column;
  padding-top: 70px;

  & > div {
    flex-direction: column;
    width: 80vw;
    min-height: 50vh;
    background-color: $mainPurple;
    color: $black;
    border-radius: 15px;

    .button-holder {
      flex-direction: column;

      button {
        margin: 15px 0px 15px 0px;
      }
    }
  }
}
