<div class="flex-center form-holder">
  <h1>Új szó hozzáadása</h1>
  <form class="flex-center default-form" [formGroup]="addWordForm">
    <div class="field-holder">
      <mat-form-field appearance="outline">
        <mat-label>Nyelv</mat-label>
        <mat-select
          formControlName="language"
          panelClass="default-select"
          (selectionChange)="toggleGender()"
        >
          <mat-option
            *ngFor="let language of languageType | enumToView"
            [value]="language.value"
          >
            {{ language.name }}
            <span
              *ngIf="addWordForm.controls.language.value === language.value"
            >
              &#10004;</span
            >
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addWordForm.controls.language.hasError('required')"
          >Kötelező mező</mat-error
        >
      </mat-form-field>
    </div>
    <div class="field-holder">
      <mat-form-field appearance="outline">
        <mat-label>Új szó</mat-label>
        <input
          matInput
          placeholder="Add meg egy új szót"
          formControlName="word"
        />
        <mat-error *ngIf="addWordForm.controls.word.hasError('required')"
          >Kötelező mező</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="isMainGenderShown">
        <mat-label>Nem</mat-label>
        <mat-select formControlName="gender" panelClass="default-select">
          <mat-option [value]="null">
            Nincs nem
            <span *ngIf="addWordForm.controls.gender.value === null">
              &#10004;</span
            >
          </mat-option>
          <mat-option
            *ngFor="let gender of genderType | enumToView"
            [value]="gender.value"
          >
            {{ gender.name }}
            <span *ngIf="addWordForm.controls.gender.value === gender.value">
              &#10004;</span
            >
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container formArrayName="translations">
      <h2>Jelentések:</h2>
      <button
        mat-raised-button
        color="primary"
        (click)="addTranslationGroup()"
        type="button"
      >
        Új jelentés
      </button>
      <ng-container
        *ngFor="
          let translation of translationsFormArray.controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <div class="field-holder">
          <mat-form-field appearance="outline">
            <mat-label>{{ i + 1 }}. jelentés</mat-label>
            <input
              formControlName="translation"
              matInput
              placeholder="Add meg egy jelentést"
            />
            <mat-error
              *ngIf="
                translationsFormArray.controls[i][
                  'controls'
                ].translation.hasError('required')
              "
              >Kötelező mező</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!isMainGenderShown">
            <mat-label>Nem</mat-label>
            <mat-select formControlName="gender" panelClass="default-select">
              <mat-option [value]="null">
                Nincs nem
                <span
                  *ngIf="
                    translationsFormArray.controls[i]['controls'].gender
                      .value === null
                  "
                >
                  &#10004;</span
                >
              </mat-option>
              <mat-option
                *ngFor="let gender of genderType | enumToView"
                [value]="gender.value"
              >
                {{ gender.name }}
                <span
                  *ngIf="
                    translationsFormArray.controls[i]['controls'].gender
                      .value === gender.value
                  "
                >
                  &#10004;</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="!addWordForm.valid"
      (click)="submitNewWord()"
    >
      Hozzáadás
    </button>
  </form>
  <div class="response-holder flex-center">
    <p
      *ngIf="addWordResponse"
      [ngClass]="addWordResponse.isError ? 'warn' : 'success'"
    >
      {{ addWordResponse.message }}
    </p>
  </div>
</div>
