@import "../../../../../styles/variables.scss";

.form-holder {
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;

  form {
    flex-direction: column;
    width: 40%;

    .field-holder {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      .mat-form-field {
        margin-bottom: 12px;
      }
    }

    button {
      margin-bottom: 30px;
    }

    mat-select {
      ::ng-deep .mat-select-value,
      ::ng-deep .mat-select-arrow {
        color: $mainPurple;
      }
    }
  }

  .response-holder {
    margin-bottom: 80px;
    height: 75px;
  }
}
