<div class="flex-center form-holder">
    <h2>New password</h2>
    <form class="flex-center default-form" [formGroup]="newPasswordForm">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          [type]="isPasswordVisible ? 'text' : 'password'"
          formControlName="password"
        />
        <mat-icon (click)="togglePasswordVisibility()" matSuffix>{{
          isPasswordVisible ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf="newPasswordForm.controls.password.hasError('required')"
          >Password is required</mat-error
        >
        <mat-error
          *ngIf="newPasswordForm.controls.password.hasError('minlength')"
          >Password should be at least 6 characters</mat-error
        >
        <mat-error *ngIf="newPasswordForm.controls.password.hasError('pattern')"
          >Password should contain at least 1 letter and 1 number</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          placeholder="Confirm your password"
          [type]="isPasswordVisible ? 'text' : 'password'"
          formControlName="confirmedPassword"
        />
        <mat-error
          *ngIf="newPasswordForm.controls.confirmedPassword.hasError('required')"
          >Password needs to be confirmed</mat-error
        >
        <mat-error
          *ngIf="newPasswordForm.controls.confirmedPassword.hasError('mismatch')"
          >Passwords have to match</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!newPasswordForm.valid"
        (click)="submitNewPassword()"
      >
        Submit
      </button>
    </form>
    <div class="response-holder flex-center warn primary">
      <p
        *ngIf="newPasswordChangeResponse"
        [ngClass]="newPasswordChangeResponse.isError ? 'warn' : 'primary'"
      >
        {{ newPasswordChangeResponse.message }}
      </p>
    </div>
  </div>
