<div class="flex-center form-holder">
    <h2>Új jelszó</h2>
    <form class="flex-center default-form" [formGroup]="newPasswordForm">
      <mat-form-field appearance="outline">
        <mat-label>Jelszó</mat-label>
        <input
          matInput
          placeholder="Add meg a jelszavad"
          [type]="isPasswordVisible ? 'text' : 'password'"
          formControlName="password"
        />
        <mat-icon (click)="togglePasswordVisibility()" matSuffix>{{
          isPasswordVisible ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf="newPasswordForm.controls.password.hasError('required')"
          >Kötelező mező</mat-error
        >
        <mat-error
          *ngIf="newPasswordForm.controls.password.hasError('minlength')"
          >A jelszó legalább 6 karakter legyen</mat-error
        >
        <mat-error *ngIf="newPasswordForm.controls.password.hasError('pattern')"
          >A jelszó legalább 1 számot tartalmazzon</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Jelszó megerősítés</mat-label>
        <input
          matInput
          placeholder="Erősítsd meg a jelszót"
          [type]="isPasswordVisible ? 'text' : 'password'"
          formControlName="confirmedPassword"
        />
        <mat-error
          *ngIf="newPasswordForm.controls.confirmedPassword.hasError('required')"
          >Kötelező mező</mat-error
        >
        <mat-error
          *ngIf="newPasswordForm.controls.confirmedPassword.hasError('mismatch')"
          >A jelszavaknak egyeznie kell</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!newPasswordForm.valid"
        (click)="submitNewPassword()"
      >
        Elküld
      </button>
    </form>
    <div class="response-holder flex-center warn primary">
      <p
        *ngIf="newPasswordChangeResponse"
        [ngClass]="newPasswordChangeResponse.isError ? 'warn' : 'primary'"
      >
        {{ newPasswordChangeResponse.message }}
      </p>
    </div>
  </div>
