<main class="flex-center">
  <div class="main-holder text-center">
    <h2>Személyes statisztikák</h2>
    <p class="flex-center flex-between">
      Elkezedett játékok: <span>{{ 0 }}</span>
    </p>
    <p class="flex-center flex-between">
      Befejezett játékok: <span>{{ 0 }}</span>
    </p>
    <p class="flex-center flex-between">
      Összes helyes válasz: <span>{{ 0 }}</span>
    </p>
    <p class="flex-center flex-between">
      Összes helytelen válasz: <span>{{ 0 }}</span>
    </p>
  </div>
</main>
