<main class="flex-center">
  <h2>Személyes statisztikák</h2>
  <div
    class="main-holder text-center"
    *ngIf="getStatisticsResponse && getStatisticsResponse.statistics"
  >
    <p class="flex-center flex-between">
      Elkezedett játékok:
      <span>{{ getStatisticsResponse.statistics.numOfStartedGames }}</span>
    </p>
    <p class="flex-center flex-between">
      Befejezett játékok:
      <span>{{ getStatisticsResponse.statistics.numOfFinishedGames }}</span>
    </p>
    <p class="flex-center flex-between">
      Összes helyes válasz:
      <span>{{ getStatisticsResponse.statistics.numOfCorrectAnswers }}</span>
    </p>
    <p class="flex-center flex-between">
      Összes helytelen válasz:
      <span>{{ getStatisticsResponse.statistics.numOfIncorrectAnswers }}</span>
    </p>
  </div>
  <div
    *ngIf="getStatisticsResponse && getStatisticsResponse.isError"
    class="warn"
  >
    {{ getStatisticsResponse.message }}
  </div>
</main>
