@import "../../../../styles/variables.scss";

main {
  flex-direction: column;
  height: $heightForCentering;

  * {
    margin-bottom: $smallGap;
    user-select: none;
  }

  img {
    max-width: 100%;
    max-height: 40vh;
  }
}
