@import "../../../../styles/variables.scss";

.description-container {
  flex-direction: column;
  padding: $smallGap;
  text-align: center;
  height: $heightForCentering;

  p {
    padding: 0 $smallGap;
    text-transform: uppercase;
    line-height: 30px;
    font-size: $bigFontSize;
  }
}
