@use "./styles/material-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "./styles/variables.scss";
@import "./styles/common-classes.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 70px;
  background-color: $black;
  color: $mainPurple;
  font-family: "Varela Round", sans-serif;
}
