<div class="flex-center form-holder">
  <h2>Registration</h2>
  <form class="flex-center default-form" [formGroup]="registrationForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter your name" formControlName="name" />
      <mat-error *ngIf="registrationForm.controls.name.hasError('required')"
        >Name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="Enter your e-mail"
        type="email"
        formControlName="email"
      />
      <mat-error *ngIf="registrationForm.controls.email.hasError('required')"
        >E-mail is required</mat-error
      >
      <mat-error *ngIf="registrationForm.controls.email.hasError('email')"
        >Not a valid e-mail</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Enter your password"
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="password"
      />
      <mat-icon (click)="togglePasswordVisibility()" matSuffix>{{
        isPasswordVisible ? "visibility_off" : "visibility"
      }}</mat-icon>
      <mat-error *ngIf="registrationForm.controls.password.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error
        *ngIf="registrationForm.controls.password.hasError('minlength')"
        >Password should be at least 6 characters</mat-error
      >
      <mat-error *ngIf="registrationForm.controls.password.hasError('pattern')"
        >Password should contain at least 1 letter and 1 number</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        placeholder="Confirm your password"
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="confirmedPassword"
      />
      <mat-error
        *ngIf="registrationForm.controls.confirmedPassword.hasError('required')"
        >Password needs to be confirmed</mat-error
      >
      <mat-error
        *ngIf="registrationForm.controls.confirmedPassword.hasError('mismatch')"
        >Passwords have to match</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!registrationForm.valid"
      (click)="submitRegistration()"
    >
      Sign up
    </button>
  </form>
  <div class="response-holder flex-center warn primary">
    <p
      *ngIf="registrationResponse"
      [ngClass]="registrationResponse.isError ? 'warn' : 'primary'"
    >
      {{ registrationResponse.message }}
    </p>
  </div>
  <a class="default-anchor" routerLink="/login"
    >Already have an account? Log in here.</a
  >
</div>
