<div class="flex-center auth-form-holder">
  <h2>Regisztráció</h2>
  <form class="flex-center default-form" [formGroup]="registrationForm">
    <mat-form-field appearance="outline">
      <mat-label>Felhasználónév</mat-label>
      <input
        matInput
        autocomplete="username"
        placeholder="Add meg a felhasználóneved"
        formControlName="name"
      />
      <mat-error *ngIf="registrationForm.controls.name.hasError('required')"
        >Kötelező mező</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        autocomplete="email"
        placeholder="Add meg az e-mailed"
        type="email"
        formControlName="email"
      />
      <mat-error *ngIf="registrationForm.controls.email.hasError('required')"
        >Kötelező mező</mat-error
      >
      <mat-error *ngIf="registrationForm.controls.email.hasError('email')"
        >Érvénytelen e-mail cím</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Jelszó</mat-label>
      <input
        matInput
        autocomplete="new-password"
        placeholder="Add meg a jelszavad"
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="password"
      />
      <mat-icon (click)="togglePasswordVisibility()" matSuffix>{{
        isPasswordVisible ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="registrationForm.controls.password.hasError('required')"
        >Kötelező mező</mat-error
      >
      <mat-error
        *ngIf="registrationForm.controls.password.hasError('minlength')"
        >A jelszó legalább 6 karakter legyen</mat-error
      >
      <mat-error *ngIf="registrationForm.controls.password.hasError('pattern')"
        >A jelszó legalább 1 számot tartalmazzon</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Jelszó megerősítés</mat-label>
      <input
        matInput
        autocomplete="new-password"
        placeholder="Erősítsd meg a jelszót"
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="confirmedPassword"
      />
      <mat-error
        *ngIf="registrationForm.controls.confirmedPassword.hasError('required')"
        >Kötelező mező</mat-error
      >
      <mat-error
        *ngIf="registrationForm.controls.confirmedPassword.hasError('mismatch')"
        >A jelszavaknak egyeznie kell</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!registrationForm.valid"
      (click)="submitRegistration()"
    >
      Regisztráció
    </button>
  </form>
  <div class="response-holder flex-center warn primary">
    <p
      *ngIf="registrationResponse"
      [ngClass]="registrationResponse.isError ? 'warn' : 'success'"
    >
      {{ registrationResponse.message }}
    </p>
  </div>
  <a class="default-anchor" routerLink="/auth/login"
    >Már van fiókod? Itt beléphetsz.</a
  >
</div>
