<div class="flex-center auth-form-holder">
  <h2>Jelszó megváltoztatása</h2>
  <form class="flex-center default-form" [formGroup]="changePasswordForm">
    <mat-form-field appearance="outline">
      <mat-label>Régi jelszó</mat-label>
      <input
        matInput
        placeholder="Add meg a régi jelszót"
        [type]="isOldPasswordVisible ? 'text' : 'password'"
        formControlName="oldPassword"
      />
      <mat-icon (click)="toggleOldPasswordVisibility()" matSuffix>{{
        isOldPasswordVisible ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error
        *ngIf="changePasswordForm.controls.oldPassword.hasError('required')"
        >Kötelező mező</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Új jelszó</mat-label>
      <input
        matInput
        placeholder="Add meg az új jelszót"
        [type]="isNewPasswordVisible ? 'text' : 'password'"
        formControlName="newPassword"
      />
      <mat-icon (click)="toggleNewPasswordVisibility()" matSuffix>{{
        isNewPasswordVisible ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error
        *ngIf="changePasswordForm.controls.newPassword.hasError('required')"
        >Kötelező mező</mat-error
      >
      <mat-error
        *ngIf="changePasswordForm.controls.newPassword.hasError('minlength')"
        >A jelszó legalább 6 karakter legyen</mat-error
      >
      <mat-error
        *ngIf="changePasswordForm.controls.newPassword.hasError('pattern')"
        >A jelszó legalább 1 számot tartalmazzon</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Új jelszó megerősítése</mat-label>
      <input
        matInput
        placeholder="Erősítsd meg az új jelszót"
        [type]="isNewPasswordVisible ? 'text' : 'password'"
        formControlName="confirmedNewPassword"
      />
      <mat-error
        *ngIf="
          changePasswordForm.controls.confirmedNewPassword.hasError('required')
        "
        >Kötelező mező</mat-error
      >
      <mat-error
        *ngIf="
          changePasswordForm.controls.confirmedNewPassword.hasError('mismatch')
        "
        >A jelszavaknak egyeznie kell</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!changePasswordForm.valid"
      (click)="submitChangePassword()"
    >
      Elküld
    </button>
  </form>
  <div class="response-holder flex-center warn primary">
    <p
      *ngIf="changePasswordResponse"
      [ngClass]="changePasswordResponse.isError ? 'warn' : 'success'"
    >
      {{ changePasswordResponse.message }}
    </p>
  </div>
</div>
