<app-header [hasAuthorizationButtons]="false"></app-header>
<ng-container [ngSwitch]="formType">
  <app-registration-form
    *ngSwitchCase="'registration'"
    class="flex-center"
    [registrationResponse]="registrationResponse"
    (registrationRequest)="onRegistrationSubmit($event)"
  ></app-registration-form>
  <app-login-form
    *ngSwitchCase="'login'"
    class="flex-center"
    [loginResponse]="loginResponse"
    (loginRequest)="onLoginSubmit($event)"
  ></app-login-form>
  <app-password-recovery-form
    *ngSwitchCase="'password-recovery'"
    class="flex-center"
    [passwordRecoveryResponse]="passwordRecoveryResponse"
    (passwordRecoveryRequest)="onPasswordRecoverySubmit($event)"
  >
  </app-password-recovery-form>
  <app-new-password-form
    *ngSwitchCase="'new-password'"
    class="flex-center"
    [newPasswordResponse]="newPasswordResponse"
    (newPasswordRequest)="onNewPasswordSubmit($event)"
  >
  </app-new-password-form>
  <app-change-password-form
    *ngSwitchCase="'change-password'"
    class="flex-center"
    [changePasswordResponse]="changePasswordResponse"
    (changePasswordRequest)="onChangePasswordSubmit($event)"
  ></app-change-password-form>
  <app-my-profile
    *ngSwitchCase="'myprofile'"
    class="flex-center"
    [newUsernameResponse]="newUsernameResponse"
    (newUsernameRequest)="onNewUsernameChangeSubmit($event)"
  ></app-my-profile>
  <div class="flex-center" *ngSwitchDefault>
    A kért oldal nem található. Kérlek lépj vissza!
  </div>
</ng-container>
<app-footer></app-footer>
