<app-header [hasAuthorizationButtons]="false"></app-header>
<ng-container [ngSwitch]="formType">
  <app-registration-form
    *ngSwitchCase="authFormType.REG"
    class="flex-center"
    [registrationResponse]="apiResponse"
    (registrationRequest)="onRegistrationSubmit($event)"
  ></app-registration-form>
  <app-login-form
    *ngSwitchCase="authFormType.LOGIN"
    class="flex-center"
    [loginResponse]="apiResponse"
    (loginRequest)="onLoginSubmit($event)"
  ></app-login-form>
  <app-password-recovery-form
    *ngSwitchCase="authFormType.RECOVERY"
    class="flex-center"
    [passwordRecoveryResponse]="apiResponse"
    (passwordRecoveryRequest)="onPasswordRecoverySubmit($event)"
  >
  </app-password-recovery-form>
  <app-new-password-form
    *ngSwitchCase="authFormType.NEW_PASSWORD"
    class="flex-center"
    [newPasswordResponse]="apiResponse"
    (newPasswordRequest)="onNewPasswordSubmit($event)"
  >
  </app-new-password-form>
  <app-change-password-form
    *ngSwitchCase="authFormType.CHANGE_PASSWORD"
    class="flex-center"
    [changePasswordResponse]="apiResponse"
    (changePasswordRequest)="onChangePasswordSubmit($event)"
  ></app-change-password-form>
  <app-my-profile
    *ngSwitchCase="authFormType.PROFILE"
    class="flex-center"
    [newUsernameResponse]="apiResponse"
    (newUsernameRequest)="onNewUsernameChangeSubmit($event)"
  ></app-my-profile>
  <app-email-verification-page
    *ngSwitchCase="authFormType.VERIFY"
    [verificationResponse]="apiResponse"
    (verificationRequest)="onVerificationSubmit($event)"
  ></app-email-verification-page>
  <main class="flex-center" *ngSwitchDefault>
    <div class="flex-center auth-form-holder">
      <h2>A kért oldal nem található. Kérlek lépj vissza!</h2>
    </div>
  </main>
</ng-container>
<app-footer></app-footer>
