<main class="flex-center warn email-main">
  <mat-spinner *ngIf="!verificationResponse"></mat-spinner>
  <h1
    *ngIf="verificationResponse"
    [ngClass]="verificationResponse.isError ? 'warn' : 'success'"
  >
    {{ verificationResponse.message || 'Hálózati hiba' }}
  </h1>
  <button
    *ngIf="verificationResponse && !verificationResponse.isError"
    mat-raised-button
    color="primary"
    routerLink="/auth/login"
  >
    Most már bejelentkezhetsz!
  </button>
  <button
    *ngIf="verificationResponse && verificationResponse.isError"
    mat-raised-button
    color="primary"
    routerLink="/"
  >
    Vissza a kezdőlapra
  </button>
</main>
