<div class="table-holder flex-center">
    <div>
    <h1>Szavak listája</h1>
    <form class="default-form" [formGroup]="chooseLanguageForm">
        <mat-form-field appearance="outline">
            <mat-label>Nyelv</mat-label>
            <mat-select (selectionChange)="submitWordRequest()" formControlName="language" panelClass="black-select">
                <mat-option *ngFor="let language of languageList" [value]="language.value">
                    {{language.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    </div>
  <div
    class="table-paginator-container flex-center"
    *ngIf="getWordResponse && getWordResponse.wordList.length"
  >
    <table mat-table class="default-table" [dataSource]="dataSource">
      <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef>Szó</th>
        <td mat-cell *matCellDef="let word">{{ word.word }}</td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let word"><mat-icon>edit</mat-icon></td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let word">
            <mat-icon class="warn" (click)="submitRemoval(word.id)">delete_forever</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page"
    ></mat-paginator>
  </div>
  <div *ngIf="getWordResponse && getWordResponse.isError" class="warn">
    {{ getWordResponse.message }}
  </div>
  <div *ngIf="getWordResponse && getWordResponse.wordList.length < 1 && !getWordResponse.isError">
    Nincs megjeleníthető elem
  </div>
</div>

