@import "../../../../styles/variables.scss";

.form-holder {
  border-radius: 5px;
  width: 80%;
  flex-direction: column;
  height: $heightForCentering;

  form {
    flex-direction: column;

    .mat-form-field {
      margin-bottom: 12px;
      width: 100%;

      mat-icon {
        cursor: pointer;
      }
    }

    button {
      margin-bottom: 30px;
    }
  }

  .response-holder {
    margin-bottom: 80px;
    height: 75px;
  }
}
